<form id="form-transaction" class="form_tr">
    <table>
        <thead>
            <th>Selecione um valor</th>
            <th>Valor Selecionado</th>
        </thead>
        <tbody>
            <tr id="category_listed"></tr>
            <tr>
                <td>
                    <input type="text" class="input-group-text" value="" name="new_category" id="new_category" placeholder="Descrição">
                </td>
                <td>
                    <span id="category_id_set">Descrição da sua conta.</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="span_list" id="span_transactions_list">transação
                        <ul>
                            <li>Despesa <input type="text" value="despesa"></li>
                            <li>Receita <input type="text" value="receita"></li>
                            <li>Cartão <input type="text" value="cartão"></li>
                            <li>Presente <input type="text" value="presente"></li>
                        </ul>
                    </span>
                </td>
                <td>
                    <span id="type_set"> tipo de transaçao</span>
                    <input type="text" name="type" value="" class="d-none" id="type_tr">
                </td>
            </tr>
            <tr id="installments_line"></tr>
            <tr>
                <td>
                    <input type="date" id="date" name="date" class="input-group-text" placeholder="dd/mm/aaaa">
                </td>
                <td>
                    <span id="data_set">Data da conta</span>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="number" id="amount" min="1" name="amount" class="input-group-text" placeholder="R$ 0,00">
                </td>
                <td>
                    <span id="amount_set">Valor da conta</span>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn_box_ss" type="submit" >Adicionar</button>
</form>