main{
    border-radius: 15px;
    padding: 0 5px;
    margin: 5px 0;
}
section{
    padding: 5px;
    margin: 5px;
}
.bgOnGradient{
    border-radius: 25px;
    margin: 50px auto;
}
.card-mod{
    background-color: var(--bg-purple);
    color: #fff;
    text-align: center;
    padding: 5px;
    margin: 25px auto;
    border-radius: 15px;
}

#month_date{
    font-size: 18pt;
    font-weight: bold;
}
#my_balance{
    font-size: 14pt;
    font-weight: bold;
    
}
#my_balance > div{
    background-color: #494949c0;
    border-radius: 15px;
    display: flex;
    margin: 25px auto;
}

.line_dark_full{
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    padding: 10px 35px;

}
.line_dark_small{
    max-width: 300px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#balance_revenue span{color: #8AEC72 !important;}
#balance_expense span{color: #db3c3c;}
#last_balance{display: flex;}
#last_balance div{margin-left: 10px;}
#last_balance span{color: #FFD337;}

.section_box{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-evenly;
}
.section_box >div{
    margin: 15px;
}
.content_box{
    max-width: 500px;
    min-height: 200px;
    background-color: #F6F6F6;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.735);
}
.content_box >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.content_box img {
    max-width: 70px;
}
.content_box .txt_content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 35px;
}
.btn_box_ss{
    width: 125px;
    height: 35px;
    border-radius: 15px;
    border: none;
    background-color: #FDE284;
    font-weight: bold;
    transition: all 200ms;
}
.btn_box_ss:hover {
    background-color: rgba(244, 213, 102, 0.738);
    box-sizing: 0 0 5px #dddd;
}
.content_box .txt_content p{
    max-width: 70%;
}
/*fim da estilização da segunda section*/

.box-form{
    background-color: var(--bg-purple);
    border-radius: 15px;
    padding: 5px;
    display: none;
}
.box-form button{
    display: block;
    margin: 15px auto;
}
.form_tr table{
    width: 100%;
    padding: 5px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.form_tr  table td > * {
    margin: 0 auto;
}
.form_tr table span, .form_tr table input{max-width: 150px;}

.form_tr table td, .form_tr table th{
    padding: 5px;
    width: 50%;
}
.span_list{
    display: block;
    position: relative;
    cursor: pointer;
    background-color: #4d4d4db2;
    color: #fff;
    padding: 5px;
    height: 35px;
    width: 150;
    border-radius: 10px;
    font-weight: bolder;
}
.span_list ul{
    left: 0;
    top: 0;
    display: none; 
    position: absolute;
    background-color: #4D4D4D;
    width: 100%;
    list-style: none;
    border-radius: 10px;
    padding: 5px;
}
.span_list:hover ul{display: block;}
.span_list ul li:nth-child(odd){
    background-color: #303030;
}
.span_list ul li{
    height: 35px;
    background-color: #4d4d4db2;
    margin: 2px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dddddd80;
}
.span_list ul li:hover {
    background-color: rgb(131, 131, 131);
}
.span_list input{display: none;}
#category_value{display: none;}

.input-group-text{
    background-color: #4D4D4D;
    color: #fff;
    font-weight: bold;
    max-width: 200px;
}

.custom-select select{
    height: 35px;
    min-width: 150px;
    text-align: center;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #4d4d4dcf;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}
.custom-select select option:nth-child(odd){
    background-color: #4D4D4D;
}

.box-form form div{
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.box-form form div input, .box-form form div select {
    max-width: 165px;
}

.tag-add {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:  0 25px;
    min-height: 75px;
}

.btn_ligth{
    border: none;
    width: 120px;
    height: 35px;
    border-radius: 15px;
    font-weight: bolder;
    background-color: #e9e9e999;
    transition: 200ms;
}
.btn_ligth:hover{
    background-color: #e9e9e9;
}

.box_card{
    background-color: var(--bg-purple);
    color: #fff;
    text-align: center;
}
.box_off_expenses{
    margin: 0;
    padding: 0;
}

#expenses{
   margin: 0 10px;
}

#expenses ul{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    list-style: none;
    background-color: #7e7ce295;
    min-height: 125px;
}
#expenses ul li {
    margin: 5px auto;
    padding: 10px;
}

#expenses ul a {
    background-color: #E9E9E9;
    text-decoration: none;
    color: black;
    width: 250px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    padding: 5px;
    font-size: 14pt;
    font-weight: bolder;
    transition: 300ms;
    border-radius: 5px;
    cursor: pointer;
}
#expenses ul a:hover {
    background-color: #fff;
}

.content_graphc{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    min-height: 400px;
}

.content_graphc ul{
    list-style: none;
    padding: 0;
    font-size: 13pt;
    font-weight: bold;
    color: #4D4D4D;
}

.graphic{  

    background-color: #4D4D4D;
    margin: 50px auto;
    overflow-x: auto;
    overflow-y: hidden;
}
.piechart{
    width: 100%;
}

.chart-google{
    display: none;
}
