main{
    border-radius: 15px;
    padding: 0 5px;
    margin: 5px 0;
}
section{
    padding: 5px;
    margin: 5px;
}
.bgOnGradient{
    border-radius: 25px;
    margin: 50px auto;
}
.card-mod{
    background-color: var(--bg-purple);
    color: #fff;
    text-align: center;
    padding: 5px;
    margin: 25px auto;
    border-radius: 15px;
}

#month_date{
    font-size: 18pt;
    font-weight: bold;
}
#my_balance{
    font-size: 14pt;
    font-weight: bold;
    
}
#my_balance > div{
    background-color: #494949c0;
    border-radius: 15px;
    display: flex;
    margin: 25px auto;
}

.line_dark_full{
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    padding: 10px 35px;

}
.line_dark_small{
    max-width: 300px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#balance_revenue span{color: #8AEC72 !important;}
#balance_expense span{color: #db3c3c;}
#last_balance{display: flex;}
#last_balance div{margin-left: 10px;}
#last_balance span{color: #FFD337;}


.section_box{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-evenly;
}
.section_box >div{
    margin: 15px;
}
.content_box{
    max-width: 500px;
    min-height: 200px;
    background-color: #F6F6F6;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.735);
}
.content_box >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.content_box img {
    max-width: 70px;
}
.content_box .txt_content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 35px;
}
.btn_box_ss{
    width: 125px;
    height: 35px;
    border-radius: 15px;
    border: none;
    background-color: #FDE284;
    font-weight: bold;
    transition: all 200ms;
}
.btn_box_ss:hover {
    background-color: rgba(244, 213, 102, 0.738);
    box-sizing: 0 0 5px #dddd;
}


.content_box .txt_content p{
    max-width: 70%;
}
.c-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}
.mtb-25{
    margin: 25px auto;
}

/*transaction - category start*/
.box-form{
    display: none;
    background-color: #6A6A6A;
    border: 1px solid #fff;
    margin: 10px auto;
    padding: 5px;
    width: 100%;
    border-radius: 15px;
    padding: 15px 5px;
}
.box-form form div{
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.box-form form div input, .box-form form div select {
    max-width: 165px;
}
.div-transaction{
    padding: 10px 0;
    margin-top: 15px;
}
.div-transaction input#date{
    width: 100%;
}




/*transaction - category end*/
.month-date{
    font-size: 20pt;
    font-weight: bolder;
}
.balance{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bolder;
}
.balance h3{
    color: #D5BB77;
    padding-left: 15px;
    font-size: 20pt;
}
.revenue-expense{
    display: flex;
    flex-direction:row;
    margin: 15px auto;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.revenue-expense a {
    border: 1px solid #fff;
    border-radius: 5px;
    height: 70px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: #fff;
}



.tag-add {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:  0 15px;
    min-height: 100px;
}
.graphics{
    height: 95px;
    width: 95px;
    border-radius: 100%;
    background-color: red;
}

.m-expense{
    padding: 15px;
    max-height: 270px;
    margin: 25px auto;
    overflow-y: auto;
}

.m-expense ul{
    list-style: none;
    margin:0 ;
    padding: 0;
}
.m-expense ul li{
    background-color: #e2e2e2;
    color: #6A6A6A;
    font-weight: bold;
    border-radius: 5px;
    margin: 5px auto;
    padding: 5px;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}