*{box-sizing: border-box; margin: 0; padding: 0;}
a{text-decoration: none;}
:root{
    --txt-color-primary: #7E7CE2;
    --txt-color-pink: #D47CA6;
    --txt-color-black: #000000;
    --ctn-glass: #E9E9E9;
    --bg-pink: #D47CA6;
    --bg-purple: #7E7CE2;
    --bg-dark: #383838;
    --bg-dark-secound: #6f6f6f;
}

.bgOnGradient{
  background: linear-gradient(to bottom, #f6f6f6b9, #D47CA6, #7E7CE2);
  border-radius: 25px 25px 0 0;
  padding: 15px 0;
  
}

.positive{
  color: #5ECE37;
}
.negative{
  color: #D30C0C;
}
.error{
  color: #ff5151;
  font-weight: bolder;
  font-size: 14pt;
}

.bg-sky{
  background-image: url('../images/bg-sky.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* header  start */
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 25px 0;
}

.hd-title h1{
    font-size: 25pt;
    color: var(--txt-color-pink);
    font-weight: bolder;
    margin: 10px 0;
    cursor: pointer;
    user-select: none;
    padding: 5px;
}

.hd-menu{
  background-color: var(--ctn-glass);
  width: 60%;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  padding: 5px;
}

.hd-menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
}

.hd-menu ul li {
  width: 135px;
  border-radius: 5px;
  margin: 2px;
  border: 1px solid #00000000;
  transition: 200ms;

}
.hd-menu ul li a{
  text-align: center;
  color: #000000;
  width: 100%;
  height: 100%;
  font-weight: bolder;
}
.hd-menu ul li:hover{
  border: 1px solid #5553ce;
}
 
#btn-logout {
  border: none;
  cursor: pointer;
  min-width: 100px;
  height: 25px;
  font-weight: bolder;
  border-radius: 5px;
  transition: 300ms;
  margin: 5px;
}
#btn-logout:hover{
  background-color: #9695e6;
  color: #5553ce;
}
.sub-menu{
  display: none;
  align-items: center ;
  justify-content: center;
  width: 100%;
}
.sub-menu nav {
  width: 100%;
  min-height: 45px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #D47CA6;
}
.sub-menu ul {
  margin: 5px;
  height:45px;
  width: 70%;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sub-menu ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bolder;
  height: 35px;
  min-width: 100px;
  border: 1px solid #dddddd00;
  border-radius: 5px;
  color: #000000;
  transition: 300ms;
}
.sub-menu ul li a:hover{
  border: 1px solid #7E7CE2;
  color: #5553ce;
}

/* header  end */

/*footer*/
footer{
    background-color: #7E7CE2;
    padding: 15px;
    text-align: center;
}
.f-content-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.f-content-btn a{
    width: 200px;
    height: 35px;
    text-align: center;
    padding: 2px;    
    display: block;
    text-decoration: none;
    font-size: 14pt;
    font-weight: bolder;
    color: #fff;
    border-radius: 5px;
    border: solid 1px #fff;
}
.f-content-btn a:hover{
    border: solid 1px #000000;
    color: #000000;
}
.icons-links{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.f-content-link{
  max-width: 400px;
}
.link-social{
  width: 300px;
  margin: 15px auto 0px auto;
}
.f-link-icons{
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.f-link-icons img{
  width: 35px;
}
.f-link-icons img:hover{
  -webkit-transform: scale(1.1);
}

.f-text-span {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  max-width: 700px;
  border-radius: 5px;
  flex-wrap: wrap;
  margin:15px  auto;
  padding: 5px;
}
.f-text-span span{
  max-width: 400px;
  margin-right: 15px;
  padding: 5px;
  text-align: end;
  font-size: 14pt;
}

.f-menu ul{
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 700px;
  margin: auto;
}
.f-menu ul li a{
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #00000000;
}
.f-menu ul li a:hover{
  border-bottom: solid 2px #fff;
}

