main{
    border-radius: 15px;
    padding: 0 5px;
    margin: 5px 0;
}
section{
    padding: 5px;
    margin: 5px;
}

.bgOnGradient{
    border-radius: 25px;
    margin: 50px auto;
}
.content_top{
    background-color: #fff;
    height: 50px;
    margin: 5px 50px;
    padding-left: 25px;
    display: flex;
    align-items: center;
}
.content_botom{
    margin: 5px 50px;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.side_bar{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    width: 25%;
}
.list_config{
    text-align: center;
}
.list_config h4{
    font-size: 14pt;
}
.side_bar button {
    border: none;
    width: 120px;
    height: 35px;
    background-color: #ffffff00;
    font-weight: bolder;
}
.side_bar ul{
    list-style: none;
    padding: 25px 0;
    margin: 0;
}
.side_bar ul li{
    margin: 2px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.side_bar ul li button {
    background-color: #7E7CE2;
    border-radius: 5px;
    width: 100%;
    color: #fff;
}
.side_bar ul li button:hover{
    background-color: #7e7ce2d6;
    color: #fff;
}
.side_bar .btn_delete:hover{
    color: #c11313;
}

.body_config{
    background-color: #ffffff58;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.content-c{
    display: none;
    width: 500px;
    min-height: 300px;
    background-color: #fff;
    padding: 25px 0px;
    border-radius: 15px;
    margin: 5px 0;
}

.content-c article{
    display: none;
}

.now_data{
    background-color: #E9E9E9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}
.form_put_config{
    padding: 25px;
    height: 100%;
}
.form_put_config form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.inner_inputs div{
    margin: 5px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.inner_inputs div label{
    text-align: end;
    width: 30%;
    padding-right: 5px;
    font-weight: bold;
}
.inner_inputs input{
    width: 70%;
    height: 35px;
    padding-left: 25px;
    border-radius: 10px;
    border: 2px solid #dddd;
}
.inner_inputs input:focus-visible{
    outline: none;
}
.inner_inputs input:focus{
    border: 3px solid #7E7CE2;
}

.div_bt_save{
    display: flex;
    justify-content: end;
}
.div_bt_save button{
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    background-color: #FDE284;
    transition: 200ms;
}
.div_bt_save button:hover{
    background-color: #fde384b3;
    color: #212121ae;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.popup .btn_opt{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 0;
}


@media only screen and (max-width: 1200px) {
    .side_bar{
        width: 30%;
    }.body_config{
        width: 70%;
    }
    
}

@media only screen and (max-width: 1000px) {
    .content-c{
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .content_top{
        margin: 5px 0;
    }
    .content_botom{
        margin: 5px 0;
    }
    .side_bar{
        width: 35%;
    }.body_config{
        width: 65%;
    }
}

@media only screen and (max-width: 400px) {
    .content_top{
        margin: 5px 0;
    }
    .content_botom{
        margin: 5px 0;
    }
    .side_bar{
        width: 100%;
    }.body_config{
        width: 100%;
    }
    .content-c{
        border-radius: 0;
    }
}


