@media only screen and (max-width: 900px) {
    /*page index css*/
    header{
        flex-direction: column;
    }
    .hd-menu {
      width: 100%!important;
    }
    .hd-menu ul {
        width: 100% !important;
    }
}

@media only screen and (max-width: 600px) {

    /*page index css*/
    header{
        transition: 200ms;
        flex-direction: row;
        background-color: rgba(0, 0, 0, 0.233);
    }
    .hd-menu {
        width: 100%;
        padding: 5px;
        flex-wrap: wrap-reverse;
    }
    .div_hd_menu_hide{
        display: none!important;
    }
    .div_main_menu_show{
        display: block;
    }

    

    /*page home css start*/
    .container-section{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }
    .container-section h3{
        max-width: 55%;
        margin-right: 5px;
        font-size: 14pt;
        color: var(--txt-color-pink);
    }
    .content-image{
        width: 45%;
    }
    .content-image img {
        width: 100%;
    }
    /*page home css end*/

    .main_menu{display: flex !important;}
}