body{
    background-image: url('../images/bg-sky.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.myForm{
    width: 100%;
    margin: 5px auto; padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.myForm div{
    width: 60%;
    padding: 5px;
}
.myForm div span{
    color: #bc1212d9;
}

.content{
    margin: 50px 0;
    padding: 25px;
    background-color: #ffffff61;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.field-content{
    padding: 5px;
    margin: 15px auto;
}