.tr-content{
    background-color: #312F2F;
    padding: 50px 25px;
    margin: 25px auto;
    border-radius: 10px;
}
.tr-content h4{
    color: #fff;
}
.tr-item-head, .tr-item-body{
    padding: 5px;
    margin-bottom: 25px;
}
.tr-head{
    background-color: #fff;
    min-height: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px 25px;
    font-size: 14pt;
    font-weight: bold;
}
.tr-body{
    background-color: #fff;
    padding: 15px 25px;
    margin-bottom: 25px;
    border-radius: 10px;

}

.tr-body div{
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#button-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}