a{
    text-decoration: none;
}

.content-section{
    border-radius: 15px;
    background-color: #312F2F;
}
.content-section{
    padding: 5px;
    margin: 15px auto;
    user-select: none;
}

.content-header{
    min-height: 100px;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 1px;
}
.content-header ul{
    margin: 15px auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.content-header ul li {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.post-item{
    color: #fff;
    padding: 15px;
    margin-bottom: 1px;
}
.post-item form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #fff;
    border-radius: 15px;
}
.post-item form div {
    padding: 5px;
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.post-item form div:last-child{
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;
}
.post-item form input, select{
    width: 100%;
    max-width: 400px;
}

.list_items{
    max-height: 400px;
    overflow-y: auto;
    background-color: #312F2F;
    padding: 15px;
}
.list_items ul{
    list-style: none;
}
.list_items ul li{
    margin: 5px auto;
    background-color: #dddd;
    padding: 5px 15px;
    border-radius: 5px;
}
.list_items ul li a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.list_items ul li a div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.list_items span{
    padding: 5px 0;
    font-weight: bolder;
    color: #312F2F;
}
.div-balance{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 15px;
    margin: 15px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.transactions-values{
    background-color: #312F2F;
    color: #fff;
    padding: 15px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.transactions-values div {
    padding: 15px 2px;
    text-align: center;
}
