a{text-decoration: none; color: #312F2F;}
.content-header h3{color: #312F2F;font-weight: bolder; margin-bottom: 25px;}
.content-section{ margin-top: 50px; border-bottom: 1px solid #fff;}
.content-header{
    min-height: 100px;
    color: black;
    text-align: center;
    padding: 10px 0;
}
.menu_tr_list{
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 75px;
    flex-wrap: wrap;
}
.menu_tr_list div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 48%;
    padding: 5px;
}
.menu_tr_list select{
    max-width: 120px;
}
.menu_tr_list span{
    margin: 0 5px;
    font-weight: bold;
}
.list_items{
    max-height: 400px;
    overflow-y: auto;
    user-select: none;
    padding: 15px;
}
.list_items ul{
    list-style: none;
    padding: 0;

}
.list_items li {
    margin: 5px auto;
    background-color: #ffffffbd;
    border-radius: 5px;
    max-width:50% ;
    min-height: 75px;
}
.list_items ul li a div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.list_items span{
    padding: 5px;
    font-weight: bolder;
}

@media only screen and (max-width: 290px){
    .list_items span{
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }
}
@media only screen and (max-width: 450px){
    .menu_tr_list span{
        width: 100%;
        text-align: center;
    }
}

.transactions-values{
    background-color: #312F2F;
    color: #fff;
    padding: 15px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.transactions-values div {
    padding: 15px 2px;
    text-align: center;
}

.post-item{
    color: #fff;
    padding: 15px;
    margin-bottom: 1px;
}
.post-item form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #fff;
    border-radius: 15px;
}
.post-item form div {
    padding: 5px;
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.post-item form div:last-child{
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;
}
.post-item form input, select{
    width: 100%;
    max-width: 400px;
}