<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/views.maneger.css">
    <body>
        <%- include('partials/header') %>
        <main class="container">
            <section class="content-section">
                <div class="content-header">
                    <h4>Categoria</h4>
                    <div class="content-value"></div>
                </div>
                <div class="content-body post-item">
                    <form id="form_put">
                        <div>
                            <h4>Atualizar - Deletar</h4>
                        </div>
                         <div>
                            <span id="category-value"></span>
                            <label for="category_name">Alterar nome da categoria:</label>
                            <input type="text" class="input-group-text" name="category_name" id="category_name" />
                            <span id="category_name_error" class="error"></span>
                        </div>
                        <div id="button-center">
                            <button type="submit" class="btn btn-light">SALVAR</button>
                            <button type="button" class="btn btn-danger" id="delete">REMOVER</button>
                        </div>
                    </form>
                </div>
            </section>
        </main>
        <div class="loader">
            <div class="loader-inner"></div>
        </div>
        <%- include('partials/footer') %>
        <script src="/javascripts/profile.user.js"></script>
        <script src="/javascripts/functions/category.crud.js"></script>
        <script src="/javascripts/category.item.js"></script>
    </body>
</html>
