<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head') %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <body class="bg-sky">
        <%- include('partials/header') %>
        <main class="container bgOnGradient">
            <section>
                <div class="card-mod">
                    <div id="month_date"></div>
                    <h3 class="month"></h3>
                    <div id="my_balance">
                        <div class="line_dark_full">
                            <div id="balance_revenue">
                                <i>Receita: </i>
                                <span></span>
                            </div>
                            <div id="balance_expense">
                                <i>Despesa: </i>
                                <span></span>
                            </div>
                        </div>
                        <div class="line_dark_small">
                            <div id="last_balance">
                                <i>Saldo: </i>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section_box">
                <div class="content_box">
                    <div>
                        <div class="txt_content">
                            <img src="/images/cash-report.png" alt="adicionando-transação">
                            <p>Crie uma nova transação e gerencie suas transações de forma facil.</p>
                        </div>
                        <button type="button" class="btn_box_ss" id="btn-transaction">adicionar</button>
                    </div>
                </div>
                <div class="content_box">
                    <div>
                        <div class="txt_content">
                            <img src="/images/cash-inovation.png" alt="adicionando-transação">
                            <p>Crie uma meta para guardar, e guarde seu dinheiro!</p>
                        </div>
                        <button type="button" class="btn_box_ss">adicionar</button>
                    </div>
                </div>
            </section>

            <section>
                <div class="box-form">
                    <%- include('./partials/dashboard/form_transaction') %>
                </div>
            </section>

            <section>
                <div class="box_card tag-add">
                    <div>
                        <h3>Todas Despesas do mês.</h3>
                    </div>
                    <button type="button" class="btn_ligth" id="btn_show_expenses">Mostrar</button>
                </div>
            </section>
            <section class="box_off_expenses">
                <div id="expenses">
                    <ul></ul>
                </div>
            </section>

            <section>
                <div class="box_card">
                    <div class="tag-add ">
                        <div>
                            <h3>Minhas metas</h3>
                        </div>
                        <div>
                            <button type="button" class="btn_ligth">mostrar</button>
                        </div>
                    </div>
                </div>
            </section>

            <section class="chart-google">
                <div class="box_card">
                    <div class="content_graphc">
                        <div>
                            <h2>Gráfico da sua gestão</h2>
                            <div>
                                <ul id="g_list"></ul>
                                <span id="t_expenses"></span>
                            </div>
                        </div>
                        <div class="graphic">
                            <div id="piechart"></div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <div class="loader">
            <div class="loader-inner"></div>
        </div>
        <%- include('partials/footer') %>
        <script src="/javascripts/functions/transaction.crud.js"></script>
        <script src="/javascripts/functions/category.crud.js"></script>
        <script src="/javascripts/dashboard.user.js"></script>
        <script src="/javascripts/dashboard.events.js"></script>
    </body>
</html>
