<!DOCTYPE html>
<html lang="pt-br">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <%- include('partials/head') %>
    <body class="bg-sky">
        <%- include('partials/header') %>
        <main>
            <section class="top-section">
                <div class=" container-section">
                    <h3>Navegue suas financas com mais facilidade e flexibilidade.</h3>
                    <div>
                        <img src="/images/boat.png" alt="boat">
                    </div>
                </div>
            </section>
            <section class="center-section">
                <div class="container">
                    <h3>Vantagens de ter controle financeiro</h3>
                    <div class="cards-container">
                        <div class="card-box">
                            <img src="/images/cash-flow.png" alt="control-finace">
                            <p>Ter controle financeiro proporciona tranquilidade emocional, reduzindo o estresse relacionado a preocupações com dinheiro</p>
                        </div>
                        <div class="cards-container">
                            <div class="card-box">
                                <img src="/images/cash-report.png" alt="control-finace">
                                <p>A capacidade de planejar e orçar permite a realização de metas financeiras de curto, médio e longo prazo, como comprar uma casa, viajar ou investir.</p>
                            </div>
                        </div>
                        <div class="cards-container">
                            <div class="card-box">
                                <img src="/images/cash-bag.png" alt="control-finace">
                                <p>Controlar suas finanças possibilita a construção de uma reserva de emergência, fornecendo uma rede de segurança financeira para lidar com imprevistos.</p>
                            </div>
                        </div>
                        <div class="cards-container">
                            <div class="card-box">
                                <img src="/images/cash-inovation.png" alt="control-finace">
                                <p>A liberdade financeira resultante do controle adequado permite fazer escolhas mais alinhadas com seus valores e objetivos de vida.</p>
                            </div>
                        </div>
                        <div class="cards-container">
                            <div class="card-box">
                                <img src="/images/cash-flow.png" alt="control-finace">
                                <p>Ter controle financeiro oferece a oportunidade de aposentadoria mais tranquila, permitindo que você mantenha um padrão de vida desejado mesmo após parar de trabalhar.</p>
                            </div>
                        </div>
                        <div class="cards-container">
                            <div class="card-box">
                                <img src="/images/cash-say.png" alt="control-finace">
                                <p>Aumentar a compreensão dos princípios financeiros ajuda a tomar decisões informadas sobre investimentos, maximizando o potencial de crescimento do patrimônio.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>
        <%- include('partials/footer') %>
    </body>
</html>
