<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head') %>
    <body>
        <%- include('partials/header') %>
        <main>
            <div class="ssdr ">
                <div class="box py-5 container mt-5">
                    <h4 class="">Bem-vindo ao Meu Bolso Online</h4>
                    <p> 
                        Sua ferramenta personalizada para uma gestão financeira inteligente e descomplicada. Sabemos que a vida moderna está repleta de desafios
                        financeiros, mas estamos aqui para ajudar a transformar suas preocupações em controle e confiança.
                    </p>
                </div>
                <div class="box-nav container py-5 mt-5">
                        <h4>Serviços oferecidos</h4>
                    <nav class="nav">   
                        <ul class="row">
                            <li class="col-5">
                                <button type="button" class="btn">Orçamento Detalhado</button>
                            </li>
                            <li class="col-5">
                                <button type="button" class="btn">Metas Claras</button>
                            </li>
                            <li class="col-5">
                                <button type="button" class="btn">Controle de Dívidas</button>
                            </li>
                            <li class="col-5">
                                <button type="button" class="btn">Acompanhamento Regular</button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <section class="ssdr-2 container mt-5">
                <div class="bx-photo ">
                    <div>
                        <p>
                            "Fortaleça seu Futuro Financeiro: Orçamento Inteligente, Metas
                             Concretas, Controle Total, Dívidas Sob Domínio  - O Caminho 
                             para a Estabilidade!"
                        </p>
                    </div>
                </div>
                <div class="bx-security">
                    <div>
                        <img src={logo_security} alt="" />
                        <p>
                            Compreendemos a importância da privacidade e segurança dos seus 
                            dados financeiros. Aqui no Meu Bolso Online, a sua confiança é 
                            nossa prioridade máxima. Utilizamos tecnologias avançadas de 
                            criptografia para proteger todas as informações que você 
                            compartilha conosco
                        </p>
                    </div>
                </div>
            </section>
        </main>
        <%- include('partials/footer') %>
    </body>
</html>
