<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <body>
        <%- include('partials/header') %>
        <main class="container">
            <section>
                <div class="card-mod" id="balance-card">
                    <h4>Setembro</h4>
                    <div class="c-flex">
                        <div class="div-balance">
                            <span>Saldo em conta</span>
                            <span class="positive" id="balance">R$ 500.00</span>
                        </div>
                        <div class="description-balance">
                            <div>
                                <span>Receitas</span>
                                <p class="positive">R$ 1.000.00</p>
                            </div>
                            <div>
                                <span>Despesas</span>
                                <p class="negative">R$ -500.00</p>
                            </div>
                            <div>
                                <span>Projeção</span>
                                <p class="positive">R$ 500.00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-mod">
                    <div class="tag-add ">
                        <h3>Transação</h3>
                        <button type="button" class="btn btn-secondary" id="btn-transaction">Nova transação +</button>
                    </div>
                    <div class="box-form">
                        <button type="button" class="btn border" id="btn-category-add">Adicionar categoria</button>
                        <div class="div-category">
                            <form id="form_category">
                                <div>
                                    <label for="category_name">Nome da conta</label>
                                    <input type="text" id="category_name" name="category_name" class="input-group-text" placeholder="Digite um nome...">
                                </div>
                                <div class="df-end">
                                    <button class="btn btn-warning" >Adicionar</button>
                                </div>
                            </form>
                            <div>
                                <button type="submit" class="btn border" id="btnManagerCategory">Gerenciar Categorias</button>
                            </div>
                            <div class="user_category">
                                <label for="category_list"></label>
                                <ul id="category_list"></ul>
                            </div>
                        </div>
                        <div class="div-transaction">
                            <h3>Adicionar nova transação</h3>
                            <form id="form-transaction">
                                <div>
                                    <label for="category_id">Categorias </label>
                                    <select class="form-select" name="category_id" id="category_select_transaction">
                                        <option value="" disabled>Nome da conta</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="type">Tipo de Transação</label>
                                    <select class="form-select" name="type" id="type">
                                        <option value="Revenue" >Receita</option>
                                        <option value="Expense" >Despesa</option>
                                        <option value="card" >Cartão</option>
                                        <option value="Gift" >Presente</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="amount">Valor</label>
                                    <input type="number" name="amount" class="input-group-text" placeholder="R$ 0.00">
                                </div>
                                <div>
                                    <label for="installments">Parcelas</label>
                                    <input type="number" name="installments" class="input-group-text" value="0">
                                </div>
                                <div>
                                    <label for="date">Data da conta</label>
                                    <input type="date" id="date" name="date" class="input-group-text" placeholder="dd/mm/aaaa" id="date">
                                </div>
                                <div>
                                    <button class="btn btn-warning">Adicionar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card-mod">
                    <div class="tag-add ">
                        <div>
                            <h3>Despesas mensais</h3>
                            <div class="m-expense">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-mod">
                    <div class="tag-add ">
                        <div>
                            <h3>Adicionar conta</h3>
                        </div>
                        <div>
                            <button type="button" class="btn btn-secondary">Nova conta +</button>
                        </div>
                    </div>
                </div>
                <div class="card-mod">
                    <div class="tag-add ">
                        <div>
                            <h3>Adicionar meta</h3>
                        </div>
                        <div>
                            <button type="button" class="btn btn-secondary">Nova meta +</button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <div class="loader">
            <div class="loader-inner"></div>
        </div>
        <%- include('partials/footer') %>
        <script src="/javascripts/profile.user.js"></script>
        <script src="/javascripts/profile_dom_buttons.js"></script>
        <script src="/javascripts/profile.category.js"></script>
        <script src="/javascripts/profile.transaction.js"></script>
    </body>
</html>
