<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <body>
        <%- include('partials/header') %>
        <main class="container">
            <section>
                <div class="card-mod" id="balance-card">
                    <div class="month-date"></div>
                    <div class="c-flex">
                        <div class="transactions-balance"><span>loading...</span></div>
                    </div>
                </div>
                <div class="card-mod">
                    <div class="tag-add ">
                        <h3>Transação</h3>
                        <button type="button" class="btn btn-secondary" id="btn-transaction">Nova transação +</button>
                    </div>
                    <div class="box-form">
                        <div class="div-transaction">
                            <form id="form-transaction">
                                <div>
                                    <label for="category_id">Suas categorias</label>
                                    <select class="form-select" name="category_id" id="category_select_transaction">
                                        <option value="" disabled>Nome da conta</option>
                                    </select>
                                </div>
                                <span id="category_id-error" class="error"></span>
                                <div>
                                    <label for="new_category">Nova categoria</label>
                                    <input type="text" class="input-group-text" name="new_category" id="new_category" placeholder="Adicionar categoria...">
                                </div>
                                <div>
                                    <label for="type">Tipo de Transação</label>
                                    <select class="form-select" name="type" id="type">
                                        <option value="receita" >Receita</option>
                                        <option value="despesa" >Despesa</option>
                                        <option value="cartão" >Cartão</option>
                                        <option value="presente" >Presente</option>
                                    </select>
                                </div>
                                <span id="type-error" class="error"></span>
                                <div>
                                    <label for="amount">Valor</label>
                                    <input type="number" name="amount" class="input-group-text" placeholder="R$ 0.00">
                                </div>
                                <span id="amount-error" class="error"></span>
                                <div>
                                    <label for="installments">Parcelas</label>
                                    <input type="number" name="installments" class="input-group-text" value="0">
                                </div>
                                <span id="installments-error" class="error"></span>
                                <div>
                                    <label for="date">Data da conta</label>
                                    <input type="date" id="date" name="date" class="input-group-text" placeholder="dd/mm/aaaa" id="date">
                                </div>
                                <span id="date-error" class="error"></span>
                                <div>
                                    <button class="btn btn-warning mt-3">Adicionar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card-mod">
                    <div class="tag-add ">
                        <div>
                            <h3>Despesas mensais</h3>
                            <div class="m-expense">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-mod">
                    <div class="tag-add ">
                        <div>
                            <h3>Adicionar conta</h3>
                        </div>
                        <div>
                            <button type="button" class="btn btn-secondary">Nova conta +</button>
                        </div>
                    </div>
                </div>
                <div class="card-mod">
                    <div class="tag-add ">
                        <div>
                            <h3>Adicionar meta</h3>
                        </div>
                        <div>
                            <button type="button" class="btn btn-secondary">Nova meta +</button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <div class="loader">
            <div class="loader-inner"></div>
        </div>
        <%- include('partials/footer') %>
        <script src="/javascripts/functions/transaction.crud.js"></script>
        <script src="/javascripts/functions/category.crud.js"></script>
        <script src="/javascripts/profile.user.js"></script>
        <script src="/javascripts/profile_dom_buttons.js"></script>
        <script src="/javascripts/profile.transaction.js"></script>
    </body>
</html>
