<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head') %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <body class="bg-sky">
        <%- include('partials/header') %>
        <main class="container bgOnGradient">
            <section>
                <div class="content_top">
                    <div id="username">Carregando..</div>
                </div>
                <div class="content_botom">
                    <div class="side_bar">
                        <div class="list_config">
                            <h4>Mudar dados da conta</h4>
                            <ul>
                               <li><button type="button" id="config-email">Email</button></li>
                               <li><button type="button" id="config-pass">Senha</button></li>
                               <li><button type="button" id="config-name">Nome usuário</button></li>
                            </ul>
                        </div>
                        <div class="config_bottom">
                            <button type="button">deletar conta</button>
                        </div>
                    </div>
                    <div class="body_config">
                        <div class="content-c">
                            <div class="now_data"></div>
                            <div class="form_put_config">
                                <form>
                                    <div class="inner_inputs"></div>
                                    <button type="button">Salvar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%- include('partials/footer') %>
        <script src="/javascripts/functions/transaction.crud.js"></script>
        <script src="/javascripts/functions/category.crud.js"></script>
        <script src="/javascripts/profile.user.js"></script>
        <script src="/javascripts/profile.events.js"></script>
    </body>
</html>
