<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <body>
        <%- include('partials/header') %>
        <main class="container">
            <section>
                <div class="card-mod" id="balance-card">
                    <h4>Setembro</h4>
                    <div class="c-flex">
                        <div class="div-balance">
                            <span>Saldo em conta</span>
                            <span class="positive" id="balance">R$ 500.00</span>
                        </div>
                        <div class="description-balance">
                            <div>
                                <span>Receitas</span>
                                <p class="positive">R$ 1.000.00</p>
                            </div>
                            <div>
                                <span>Despesas</span>
                                <p class="negative">R$ -500.00</p>
                            </div>
                            <div>
                                <span>Projeção</span>
                                <p class="positive">R$ 500.00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-mod">
                    <div class="tag-add ">
                        <div>
                            <h3>Transação</h3>
                        </div>
                        <div>
                            <button type="button" class="btn btn-secondary" id="btn-transaction">Nova transação +</button>
                        </div>
                    </div>
                    <div class="transaction-option">
                        <form id="transactionForm">
                            <div class="py-3">
                                <label for="category_name">Selecione o tipo</label>
                                <select name="type" class="form-select" id="category_name">
                                    <option value="transaction">Transação</option>
                                    <option value="revenue">Receita</option>
                                    <option value="expense">Despesa</option>
                                    <option value="card_expense">Despesa do cartão</option>
                                </select>
                            </div>
                           <div class="py-3">
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Valor...">
                                    <div class="input-group-append">
                                        <span class="input-group-text">R$ 0.00</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="installments">Parcelas</label>
                                    <input type="number" class="form-control" name="installments" id="installments" placeholder="quantidade de parcelas..">
                                </div>
                           </div>
                            <div class="py-3">
                                <div>
                                    <label for="date">Informar data</label>
                                    <div class="form-group">
                                        <input type="date" name="date" id="date" class="form-control" >
                                    </div>
                                </div>
                            </div>
                            <div class="py-3">
                                <button type="submit" class="btn btn-warning">Adicionar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-mod">
                    <div class="tag-add ">
                        <div>
                            <h3>Carteira</h3>
                        </div>
                        <div>
                            <button type="button" class="btn btn-secondary">Nova despesa +</button>
                        </div>
                    </div>
                </div>
                <div class="card-mod">
                    <div class="tag-add ">
                        <div>
                            <h3>Despesas mensais</h3>
                            <div class="m-expense">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-mod">
                    <div class="tag-add ">
                        <div>
                            <h3>Adicionar conta</h3>
                        </div>
                        <div>
                            <button type="button" class="btn btn-secondary">Nova conta +</button>
                        </div>
                    </div>
                </div>
                <div class="card-mod">
                    <div class="tag-add ">
                        <div>
                            <h3>Adicionar meta</h3>
                        </div>
                        <div>
                            <button type="button" class="btn btn-secondary">Nova meta +</button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%- include('partials/footer') %>
        <script src="/javascripts/profile.user.js"></script>
        <script src="/javascripts/crud_transactions.js"></script>
    </body>
</html>
