<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head') %>
    <body  class="bg-sky">
        <link rel="stylesheet" href="/stylesheets/singin.css">
        <%- include('partials/header') %>
        <main class="container">
            <section class="content">

                <form id="auth" class="myForm">
                    <h4>Entrar</h4>
                    <div class="field-content">
                        <label for="inEmail">Email:</label>
                        <input type="email" name='email' class="form-control" id="inEmail">
                        <span id="email-error"></span>
                    </div>
                    <div class="field-content">
                        <label for="inPass" class="col-sm-2 col-form-label">Senha:</label>
                        <input type="password" name='password' class="form-control" id="inPass">
                        <span id="password-error"></span>
                    </div>
                    <div class="field-content">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="authSinc" checked >
                            <label class="form-check-label" for="authSinc">Manter Logado</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </form>

                <form id="singUp" class="myForm">
                    <h4>Criar novo usuário.</h4>
                    <div class="field-content">
                        <label for="">Nome</label>
                        <input type="text" name='fullname' class="form-control" id="fullname" placeholder='nome completo.'>
                        <span id="fullname-up-error"></span>
                    </div>
                    <div class="field-content">
                        <label for="upEmail">Email</label>
                        <input type="email" name='email' class="form-control" id="upEmail" placeholder='Digite um email.'>
                        <span id="email-up-error"></span>
                    </div>

                    <div class="field-content">
                        <label for="upPass">Senha:</label>
                        <input type="password" name='password' class="form-control" id="upPass" placeholder='Digite uma senha.' >
                        <span id="password-up-error"></span>
                    </div>
                    <button type="submit" class="btn btn-warning">Cadastrar-se</button>
                </form>

            </section>
        </main>
        <%- include('partials/footer') %>
        <script src="/javascripts/view.singin.js"></script>
    </body>
</html>