<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head') %>
    <body>
        <%- include('partials/header') %>
        <link rel="stylesheet" href="/stylesheets/singin.css">
        <main>
            <div class='userauth'>
                <div class="container">
                    <form class="py-5 my-5 singin" id='singin_user'>
                        <h4 class='pb-3'>Login</h4>
                        <div class="row mb-3">
                            <label for="singinemail" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                            <input type="email" name='email' class="form-control" id="singinemail" placeholder='digite seu login de usuário' >
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="singinpassword" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                            <input type="password" name='password' class="form-control" id="singinpassword" placeholder='digite sua senha' >
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-10 offset-sm-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="auto_singin">
                                <label class="form-check-label" for="auto_singin">Manter Logado</label>
                            </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                    <form class="py-5 my-5 singin" id='singup_user'>
                        <h4 class='pb-3'>Cadastrar-se</h4>
                        <div class="row mb-3">
                            <label for="username" class="col-sm-2 col-form-label">Nome</label>
                            <div class="col-sm-10">
                            <input type="text" name='username' class="form-control" id="username" placeholder='nome completo...'>
                            </div>
                        </div>
    
                        <div class="row mb-3">
                            <label for="singupemail" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                            <input type="email" name='email' class="form-control" id="singupemail" placeholder='email válido'>
                            </div>
                        </div>
    
                        <div class="row mb-3">
                            <label for="singuppassword" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                            <input type="password" name='password' class="form-control" id="singuppassword" placeholder='uma senha extraforte' >
                            </div>
                        </div>
    
                        <button type="submit" class="btn btn-warning">Sign in</button>
                    </form> 
                </div>
            </div>
        </main>
        <%- include('partials/footer') %>
    </body>
</html>
