<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="/stylesheets/views.maneger.css">
    <body  class="bg-sky">
        <%- include('partials/header') %>
        <main class="container">
            <section class="content-section">
                <div class="content-header">
                    <h4>Despesa</h4>
                    <div>
                        <span id="category_name">Nome da conta:</span>
                        <span id="amount">Valor:</span>
                    </div>
                </div>
                <div class="content-body post-item">
                    <form id="put_form">
                        <div>
                            <h4>Atualizar - Deletar</h4>
                        </div>
                        <div>
                            <span id="date-value">Data:</span>
                            <label for="date">Definir novo valor:</label>
                            <input type="date" class="input-group-text" name="date" id="date">
                            <span id="data-error" class="error"></span>
                        </div>
                        <div>
                            <span id="category-value"></span>
                            <label for="category_id">Definir novo valor:</label>
                            <select class="input-group-text" name="category_id" id="category-list">
                                <option value="" >Nome da conta</option>
                            </select>
                            <span id="category-error" class="error"></span>
                        </div>
                        <div>
                            <span id="type-value"></span>
                            <label for="type">Definir novo valor:</label>
                            <select class="input-group-text" name="type" id="type">
                                <option value="" >Selecione...</option>
                                <option value="despesa" >Despesa</option>
                                <option value="receita" >Receita</option>
                                <option value="cartão" >Cartão</option>
                                <option value="presente" >Presente</option>
                            </select>
                            <span id="type-error" class="error"></span>
                        </div>
                        <div>
                            <span id="amount-value"></span>
                            <label for="amount">Definir novo valor:</label>
                            <input class="input-group-text" type="text" id="amount" name="amount" >
                            <span id="amount-error" class="error"></span>
                        </div>
                        <div>
                            <span id="installments-value"></span>
                            <label for="installments">Definir novo valor:</label>
                            <input class="input-group-text" type="text" id="installments" name="installments" >
                            <span id="installments-error" class="error"></span>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-light">SALVAR</button>
                            <button type="button" class="btn btn-danger" id="delete">REMOVER</button>
                        </div>
                    </form>
            </section>
        </main>
        <div class="loader">
            <div class="loader-inner"></div>
        </div>
        <%- include('partials/footer') %>
        <script src="/javascripts/functions/transaction.crud.js"></script>
        <script src="/javascripts/functions/category.crud.js"></script>
        <script src="/javascripts/transaction.item.js"></script>
    </body>
</html>
