<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="/stylesheets/transactions.css">
    <body>
        <%- include('partials/header') %>
        <main class="container">
            <section class="tr-content">
                um unico item
            </section>
        </main>
        <div class="loader">
            <div class="loader-inner"></div>
        </div>
        <%- include('partials/footer') %>
        <script src="/javascripts/profile.user.js"></script>
        <script src="/javascripts/transaction.item.js"></script>
    </body>
</html>
