<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="/stylesheets/views.maneger.css">
    <body  class="bg-sky">
        <%- include('partials/header') %>
        <main class="container">
            <section class="content-section">

                <div class="content-header" >
                    <h3>Listar transações</h3>
                    <div class="nav">
                        <ul>
                            <li>
                                <label for="btn-all-transactions">Mostrar todas</label>
                                <button class="btn btn-light" type="button" id="btn-all-transactions">Transações</button>
                            </li>
                            <li>
                                <label for="type">Filtrar por tipo</label>
                                <select class="form-select" id="transaction-type">
                                    <option value="false" >Selecione...</option>
                                    <option value="receita" >Receita</option>
                                    <option value="despesa" >Despesa</option>
                                    <option value="cartão" >Cartão</option>
                                    <option value="presente" >Presente</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="content-body">
                    <div class="div-balance">
                        <div class="transactions-balance"><span>loading...</span></div>
                    </div>
                    <div class="list_items">
                        <ul>
                            <li>
                                <a href="#">
                                    <div>
                                        <span>Carregando...</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <nav class="mt-3">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <button type="button" class="page-link">Anterior</button>
                        </li>
                        <li class="page-item">
                            <button type="button" class="page-link">Proximo</button>
                        </li>
                    </ul>
                </nav>

            </section>
        </main>
        <div class="loader">
            <div class="loader-inner"></div>
        </div>
        <%- include('partials/footer') %>
        <script src="/javascripts/functions/transaction.crud.js"></script>
        <script src="/javascripts/functions/category.crud.js"></script>
        <script src="/javascripts/transactions_list.js"></script>
    </body>
</html>
