<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="/stylesheets/transactions.css">
    <body>
        <%- include('partials/header') %>
        <main class="container">
            <section class="section-content">
                <div class="div-navigate" >
                    <h3>Listar transações</h3>
                    <div class="nav">
                        <ul>
                            <li>
                                <label for="bt_get_all_transactions">Mostrar todas</label>
                                <button class="btn btn-light" type="button" id="bt_get_all_transactions">Transações</button>
                            </li>
                            <li>
                                <label for="type">Filtrar por tipo</label>
                                <select class="form-select" id="type">
                                    <option value="" >Selecione...</option>
                                    <option value="receita" >Receita</option>
                                    <option value="despesa" >Despesa</option>
                                    <option value="cartão" >Cartão</option>
                                    <option value="presente" >Presente</option>
                                </select>
                            </li>
                            <li>
                                <label for="category_list">Listar por categoria</label>
                                <select class="form-select" id="category_select_transaction">
                                    <option value="" >selecione</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="bg-dark p-2 mb-2">
                    <div class="div-balance">
                        <div class="transactions-balance"><span>loading...</span></div>
                    </div>
                    <div class="div-list" id="transactions-list">
                        <ul></ul>
                    </div>
                </div>
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <button type="button" class="page-link">Anterior</button>
                        </li>
                        <li class="page-item">
                            <button type="button" class="page-link">Proximo</button>
                        </li>
                    </ul>
                </nav>
            </section>
        </main>
        <div class="loader">
            <div class="loader-inner"></div>
        </div>
        <%- include('partials/footer') %>
        <script src="/javascripts/profile.user.js"></script>
        <script src="/javascripts/transactions_list.js"></script>
    </body>
</html>
