<footer>
    <div class="f-content-btn">
        <span class="btn-singin"><a href="/singin">Crie sua conta</a></span>
    </div>
    <div>
        <div class="icons-links">
            <div class="link-social">
                <span>Visite nossas redes sociais.</span>
                <div class="f-link-icons">
                    <a href="#">
                        <img src="/images/instagram.png" alt="instagram-icon">
                    </a>
                    <a href="#">
                        <img src="/images/facebook.png" alt="facebookt-icon">
                    </a>
                    <a href="#">
                        <img src="/images/whatsapp.png" alt="whatsapp-icon">
                    </a>
                </div>
            </div>
            <div class="f-text-span">
                <span>Fortaleça seu futuro financeiro com orçamento Inteligente e metas concretas tenha o  controle total de suas  dívidas.</span>
                <img src="/images/cash-say.png" alt="control-finance">
            </div>
        </div>
    </div>
    <div class="f-menu">
        <ul>
            <li><a href="#">Sobre nós</a></li>
            <li><a href="#">segurança</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </div>
    <span>by CodeWizardMyke | 2023 &copy</span>
    <script src="/javascripts/index.js"></script>
    <script src="/cdn_local/js/bootstrap.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="/javascripts/view.index.js"></script>
    <script src="/cdn_local/js/jquery.371.js"></script>
</footer>
