<header>
  <div>
    <span class="hd-title"><h1 id="logo-page">Meu bolso online.</h1></span>
  </div>
  <div class="hd-menu">
    <div class="hd-link">
      <ul>
        <li><a href="/">Início</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </div>
    <div class="hd-auth btn-singin ">
      <ul>
        <li ><a href="/singin" class="bt-login">Entrar</a></li>
      </ul>
    </div>
  </div>
</header>
<div class="sub-menu">
  <%- include('./navigate-user.ejs')  %>
</div>