<div class='header'>
    <div class='header-tt'>
        <a href="/">
            <img src="/images/dollar.png" alt='meubolsoonline-logo' />
            <h1 class="h-title-page">Meu bolso online</h1>
        </a>
    </div>
</div>

<div class='col-12 h-nav' id="navigate-public">
    <div class='col-8 '>
        <nav class='nav' id="nav-public">
            <a href="/" class='nav-link'>Beneficios</a>
            <a href="/" class='nav-link'>Sobre</a>
        </nav>
    </div>
    <div class='col-2 nav' id="user-state">
        <a href="/singin" class='nav-link'>Login</a>
    </div>
</div>

<div class='col-12 h-nav' id="navigate-private">
    <div class='col-8 '>
        <nav class='nav' id="nav-public">
            <a href="/" class='nav-link'>Home</a>
            <a href="/profile/transactions" class='nav-link'>Transações</a>
            <a href="/profile/categorys" class='nav-link'>Categorias</a>
        </nav>
    </div>
    <div class='col-2 nav' id="user-state">
        <a href="/profile" class='nav-link'>PERFIL</a>
        <button class="nav-link btn" type="button" id="logout">SAIR</button>
    </div>
</div>