<header>
  <div>
    <span class="hd-title"><h1>Meu bolso online.</h1></span>
  </div>
  <div class="hd-menu">
    <div class="hd-link">
      <ul>
        <li><a href="/">Início</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </div>
    <div class="hd-auth">
      <ul>
        <li><a href="/singin" class="bt-login">Entrar</a></li>
      </ul>
    </div>
  </div>
  <div class="hd-menu-dp">
    <span class="bt-menu-dp">Menu
      <div class="container-menu-dp">
          <ul>
            <li><a href="/">Início</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
          <ul>
            <li><a href="/singin" class="bt-login">Entrar</a></li>
          </ul>
      </div>
    </span>
  </div>
  <div id="navigate-user" style="display: none;"><%- include('./navigate-user.ejs')  %></div>
</header>