<nav>
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/dashboard/transactions">Transações</a></li>
        <li><a href="/dashboard/categorys">Categorias</a></li>
    </ul>
    <div class="main_menu">
        <div class="inner_main_menu">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/dashboard/transactions">Transações</a></li>
                <li><a href="/dashboard/categorys">Categorias</a></li>
            </ul>
        </div>
        <div class="div_icon_menu">
            <img src="/images/menu_list.png" alt="menu-list-icon">
        </div>
    </div>
</nav>