<nav>
    <ul>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/profile/transactions">Transações</a></li>
        <li><a href="/profile/categorys">Categorias</a></li>
    </ul>
    <button id="btn-logout" type="button" >Sair</button>
</nav>