<nav>
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/dashboard/transactions">Transações</a></li>
        <li><a href="/dashboard/categorys">Categorias</a></li>
    </ul>
</nav>